<!DOCTYPE html>
<html>
	<head>
		<% include ./partials/head %>
		<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
	</head>
	<body id="page-top">
		<!-- Navigation -->
		<% include ./partials/header %>
		<!-- End Navigation -->
		<section id="pollVoting">
			<div class="container">
				<div class="row">
		      <div class="col-md">
		        <div class="container">
					      <div class="row">
					        <div class="col-md-12">
					          <h3 class="text-uppercase"><%= title %></h3><hr>
					        </div>
					      </div><!-- close row -->
								<div class="row">
					        <div class="col-md-12">
					          <h5>I would like to vote for:</h5>
					        </div>
					      </div><!-- close row -->
							<!-- form -->
							<form action="/polls/<%= id %>" method="POST">
								<div class="form-group">
									<select name="vote" class="form-control" onchange="yesnoCheck(this);">
										var data = <%- JSON.stringify(data) %>
										<option value="blankItem" selected="selected">Choose an Option...</option>
										<% for(var i=0;i<data.length;i++) {%>
											<option value=<%=i%>><%= data[i].name %></option>
										<% } %>
											<% if (userLogged) { %>
											<option value="other">I would like a different option</option>
											<% } %>
									</select>
								</div>
								<div id="ifYes" style="display: none;">
									<div class="form-group">
			 							<label for="customOption"><h5>Vote with my own option: </	h5></label>
										<input type="text" id="customOption" name="customOption" class="form-control"/>
									</div>
								</div>
					      <div class="form-group">
					       	<button type="submit" class="btn btn-success btn-lg">Vote!</button>
						    </div>
					    </form>
							<div class="row pt-4 pb-4"></div>
							<!--- Form ends --->
		        </div>
						<% if (userLogged) { %>
							<% if (user.id === owner) {	%>
						<div class="bottomdiv card bg-light mb-3 box-shadow--6dp" style="width: 25rem;">
							<div class="card-header"><%= title %></div>
							<div class="card-body">
			   				<h6 class="card-subtitle mb-2 text-muted">What do you want to do? </h6>
							<div class="row">
								<div class="col-md-12">
									<h5 class="card-text">Share your Poll!</h5>
								</div>
							</div><!-- close row -->
							<div class="row">
								<div class="col-md-12">
									<!-- AddToAny BEGIN -->
									<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
										<a class="a2a_button_facebook"></a>
										<a class="a2a_button_twitter"></a>
										<a class="a2a_button_google_plus"></a>
										<a class="a2a_button_pinterest"></a>
										<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
									</div>
									<!-- AddToAny END -->
								</div>
							</div><!-- close row -->
							<div class="row pt-4"></div>
							<div class="row">
								<div class="col-md-12">
									<h5 class="card-text">Or copy the Link to share it!</h5>
								</div>
							</div><!-- close row -->
							<div class="row">
								<div class="input-group">
									<input class="form-control" type="text" value="<%= link %>" id="myInput" readonly>
									<span class="input-group-btn">
									 <button class="btn btn-dark float-right" onclick="myFunction()">Copy Link!</button>
									</span>
								</div>
							</div><!-- close row -->
								<div class="row pt-4">
									<a class="btn btn-danger btn-lg btn-block" href=<%= '/polls/delete/'+ id %>>Delete this Poll</a>
								</div>
						</div>
						</div>
						<% } %>
						<% } %>
		      </div>
		      <div class="col-md">
						<canvas id="myCart" width="600" height="700"></canvas>
		      </div>
		    </div>
			</div>
		</section>

  <% include ./partials/body-partial %>
	<% include ./partials/poll-scripts %>
	<!-- Footer -->
	<footer>
		<% include ./partials/footer %>
	</footer>
	<!-- End Footer -->
	</body>
</html>
